body {
    padding-top: 56px; /* Ajuste para a barra de navegação fixa */
}

.hero-section {
    background: #f8f9fa;
    background-size: cover;
    height: 100vh;
    color: #212529;
}

section {
    padding: 60px 0;
}

.bi {
    color: #0d6efd; /* Cor primária do Bootstrap */
}
